/* importation de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700');

/*Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Quicksand texte global */
body {
  font-family: 'Quicksand', sans-serif;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 1;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgb(73, 61, 75) 0%,
    rgb(96, 77, 101) 0%
  );
}
.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgb(145, 67, 153) 0%,
    rgb(250, 176, 66) 100%
  );
}

